.input-group-addon {
    min-width: 50px;
}

body {
	padding-top: 70px;
}

#logo {
    display: inline-block;
}

#main {
	padding-top: 20px;
	background: #fff;
}

#topbar {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* Fabric editor */

.inspector-container {
   background: #485563;
   color: #bcbcbc;
   text-shadow: 0 -1px 0 #000;
   height: 600px;
   overflow: scroll;
}

.menu-container {
	background: #485563;
	color: #bcbcbc;
	height: 600px;
	overflow: scroll;
}

.canvas-container {
	background: #485563;
	color: #bcbcbc;
	height: 600px;
	overflow: scroll;
}

.fabric-container {
  overflow: scroll;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.fabric-container .canvas-container {
  overflow: hidden;
  margin: auto;
  /*vertical-align: middle;*/
}

.editor-toolbar-container {
  padding-bottom: 20px;
}

.panel-body {
  text-align: center;
}


/* Markdown editor-related css */

.wmd-panel {
        /*
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        min-width: 500px;
        */
}

.wmd-button-bar {
        width: 100%;
        background-color: Silver; 
}

.wmd-input {
        height: 300px;
        width: 100%;
        background-color: Gainsboro;
        border: 1px solid DarkGray;
}

.wmd-preview {
        margin-top: 25px;
        padding: 5px;
        background-color: #c0e0ff; 
}

.wmd-button-row {
        /*
        position: relative; 
        margin-left: 5px;
        margin-right: 5px;
        */
        margin-bottom: 5px;
        /*
        margin-top: 10px;
        */
        padding: 0px;  
        height: 20px;
}

.wmd-spacer {
        width: 1px; 
        height: 20px; 
        margin-left: 14px;
        
        position: absolute;
        background-color: Silver;
        display: inline-block; 
        list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../images/wmd-buttons.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1 {
    left: 50px;
}
.wmd-spacer2 {
    left: 175px;
}
.wmd-spacer3 {
    left: 300px;
}

.wmd-prompt-background {
        background-color: Black;
}

.wmd-prompt-dialog {
        border: 1px solid #999999;
        background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
        font-size: 0.8em;
        font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
        border: 1px solid #999999;
        color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
        border: 1px solid #888888;
        font-family: trebuchet MS, helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: bold;
}

